.naranja {color:#ffb152;} 
.verde {color:#55692d;}
.azul {color:#0ED4B0;}
.amarillo {color:#FFCF17} 
.rojo {color:#FF5A5E}  rgb (255, 90, 94)
.verde {color:#A9C71D}

/*Fonts*/


h1, h2 { font-family: 'Montserrat', sans-serif;}

p {font-family: 'Montserrat', sans-serif;}
 
td{
      text-align: center;
}

.white {
    color:#ffffff;
}


/*Navbar*/

.sizelogo{
	width: 50px;
    height: 50px;
    vertical-align: middle;
    border-style: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fffffd;
}


/*body*/

body {
background-color: white;}

/*.bg-dark {
   
   background-image: linear-gradient(to bottom right, rgb(255, 90, 94), rgb(183,64,67));
}*/

/*introducción*/

.bg-dark {
    background-color: #000000!important;
}


.bg-secondary {
    background-color: #FFCF17 !important;
}

.btn-primary {
    color:#212529!important;
    font-weight: 400 !important;
    background-color: #FFCF17 !important;
    border-color: #f0ad4e !important;
    background-image: linear-gradient(to bottom,#ffc003 0,#FFCF17 100%) !important;
    text-shadow: 0 0px 0 rgba(0,0,0) !important;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff !important;
    background-color: #FFCF17 !important;
    border-color: #f0ad4e !important; /*/set the color you want here/*/
    text-shadow: 0 0px 0 rgba(0,0,0) !important;
}


/*paso1*/

.bg-pasouno {
    background-color: #A9C71D !important;
    height: 53px;
}

.bg-pasodos {
    background-color: #FF5A5E !important;
    height: 53px;
}

.bg-pasotres {
    background-color: #0ED4B0 !important;
    height: 53px;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #55692d;
    border-bottom: 1px solid #f6c23e;
}

.text-card {
    color: #FFFFFF!important;
    font-size: 25px;
    font-weight: 400;
    padding-top: -13px;
    padding-bottom: 88px;
}

.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.cropped2 {
    object-fit: cover;

}

.card-text:last-child {
    margin-bottom: 0;
    font-size: 14px;
}


/*imágenes*/

.image-final {
    vertical-align: middle;
    border-style: none;
}

.imagen-loc {
    width: auto;
    height: 136px;
    vertical-align: middle;
    border-style: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-productos {
    max-width: 60%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
    height: 326px;
    width: auto;
}

.img-final {
    vertical-align: middle;
    border-style: none;
    height: 388px;
    width: auto;
    margin-left: 45px;
    margin-right: 15px;
    margin-top: 130px;
}


/*Footer*/


a {
    color: #FFF;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;

}

.a-footer {
        font-weight: 200;
}

/*.bg-dark {
    background: linear-gradient(#000000, #000000), url(../../static/assets/img/Gestioncorporativa/1.jpg) no-repeat top center;
}*/



.text-white {
    color: #FFFF!important;
    font-size: 30px;
    font-weight: 400;
}

.text-black {
    color: #212529!important;
    font-size: 30px;
    font-weight: 400;
}



